{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}


<div id = "target"></div>

<script id = "template" type = "text/ractive">

      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>


              <a class="navbar-brand" href="#">Loaves, Fishes & Computers</a>
            </div>


            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <span class="glyphicon glyphicon-off"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{=URL('default','user/logout')}}">Logout</a></li>
                        <li><a href="{{=URL('default','user/change_password')}}">Change Password</a></li>
                        <li><a href="{{=URL('default','user/profile')}}">User Profile</a></li>
                    </ul>
                </li>



              </ul>


              <form class="navbar-form navbar-right">

           <div class="input-group">

              <input type="text" class="form-control" aria-label="Search..." placeholder="Search..." autofocus value={%search_box%} >
              <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">by {%search_by%}<span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#" on-click="search_ID" >ID#</a></li>
              <li><a href="#" on-click="search_STAT">Status</a></li>
              <li><a href="#" on-click="search_WCOA">Windows COA#</a></li>
              <li><a href="#" on-click="search_OCOA">Office COA#</a></li>
              <li><a href="#" on-click="search_OEM#">OEM Serial#</a></li>
              <li><a href="#" on-click="search_DATE">Most Recent</a></li>
            </ul>
              <button class="btn btn-default" id="search_button" ><span class="glyphicon glyphicon-search"></span></button>
              </div><!-- /btn-group -->

            </div><!-- /input-group -->

              </form>




            </div>
          </div>
    </nav>


    <div class="container-fluid">
      <div class="row">



        <div class="col-sm-12 col-md-12 main">
        {% #if loading %}
            <center><i class="fa fa-refresh fa-spin fa-4x fa-fw margin-bottom"></i></center>
        {% else %}
          <button class="btn btn-default" on-click="add_entry_button"><span class="glyphicon glyphicon-plus"></span></button>
        {% /if %}

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID#</th>
                  <th>Status</th>
                  <th>Last Updated</th>
                </tr>
              </thead>
              <tbody>

                {% #computer_posts:i %}
                  <tr class = "datarow" onclick="window.document.location='{% comp_url+ '/'+ computer_index_id %}';">
                      <td>{% computer_id %}</td>
                      <td>{% status %}</td>
                      <td>{% last_modified %}</td>
                  </tr>
                {% /computer_posts %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

</script>

<script>

    $(function(){

        var MAIN = new Ractive({
            el: '#target',
            template: '#template',
            delimiters: ['{%', '%}'],
            tripleDelimiters: ['{%%', '%%}'],
            data: {
                computer_posts: {},
                search_by: "",
                search_box: "",
                comp_url :"{{=URL('default','view_computer')}}",
                loading: true,
                one_result: false
             },
  });

        function loadData(){
            MAIN.set('loading',true);
            $.ajax("{{=URL('default', 'load_computers', user_signature=True)}}",
            {
              data: {
                search_by: MAIN.get("search_by"), // request.vars.msg
                keyword: MAIN.get("search_box") , // request.vars.is_draft
                },
              method: 'POST',
              success: function(data) {
                  console.log(data['computer_dict'])
                  MAIN.set('computer_posts', data['computer_dict']);

                  if(data['computer_dict'].length == 1 && MAIN.get('search_by') != "recent" ){
                      var computer= data['computer_dict'][0];
                      var destination = computer.computer_index_id;
                      console.log("COMPUTER: ",computer, "DESTINATION: ",destination);
                      var link = MAIN.get("comp_url")+"/"+destination;
                      console.log(link);
                      window.location.href = link;

                        }




                  MAIN.set('loading',false);
                  console.log("POSTS: ",MAIN.get('computer_posts'),MAIN.get('computer_posts').length);

              },
              error: function() { console.log("LOAD failed"); }
            });


        }


        function generateUUID(){
             var d = new Date().getTime();
             if(window.performance && typeof window.performance.now === "function"){
                 d += performance.now();; //use high-precision timer if available
               }
             var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                 var r = (d + Math.random()*16)%16 | 0;
                 d = Math.floor(d/16);
                 return (c=='x' ? r : (r&0x3|0x8)).toString(16);
             });
             return uuid;
        }





        MAIN.on("search_ID", function(e) {MAIN.set("search_by", "ID#");});
        MAIN.on("search_STAT", function(e) {MAIN.set("search_by", "status");});
        MAIN.on("search_WCOA", function(e) {MAIN.set("search_by", "WinCOA");});
        MAIN.on("search_OCOA", function(e) {MAIN.set("search_by", "OffCOA");});
        MAIN.on("search_OEM#", function(e) {MAIN.set("search_by", "OEM#");});
        MAIN.on("search_DATE", function(e) {MAIN.set("search_by", "recent");});

        //MAIN.on("do_search", function(e) { e.preventDefault();loadData();});

        $("#search_button").click(function(e) {
            e.preventDefault();
            loadData();

            if (MAIN.get('one_result')== true && MAIN.get('search_by') != "recent" ){
                var computer= MAIN.get('computer_posts')[0];
                var destination = computer.computer_index_id;
                console.log("COMPUTER: ",computer, "DESTINATION: ",destination);
                var link = MAIN.get("comp_url")+"/"+destination;
                console.log(link);
                window.location.href = link;

            }





        });



        MAIN.on("add_entry_button", function(e) {
            console.log("called add");
            var new_link = MAIN.get("comp_url") +"/"+generateUUID();
            window.location.href = new_link;
        });



        loadData();





    });

</script>