
{{extend 'layout.html'}}


<div id = "target"></div>

<script id = "template" type = "text/ractive">

      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{=URL('default', 'index')}}">
                   <span class="glyphicon glyphicon-circle-arrow-left"></span>
              </a>

            </div>


            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <span class="glyphicon glyphicon-off"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{=URL('default','user/logout')}}">Logout</a></li>
                        <li><a href="{{=URL('default','user/change_password')}}">Change Password</a></li>
                        <li><a href="{{=URL('default','user/profile')}}">User Profile</a></li>
                    </ul>
                </li>

              </ul>
            </div>
          </div>
    </nav>

        <div class="container">

        {% #if loading %}
            <center><i class="fa fa-refresh fa-spin fa-4x fa-fw margin-bottom"></i></center>
        {% /if %}

            <div class="row">

                 <div class="col-sm-12 form-group">
                  {% #if new_entry %}
                 <h3>Add Computer:</h3>
                  {% /if %}
                 </div>
            </div>

        </div>



     <div class="container">

                <div class="row">
                   <form>

                       {% #if editing %}
                       <div class="col-sm-6 form-group">
                           <label>ID#</label>
                           <input class="form-control" type="text" value = "{%Mcomputer_id%}"/>
                       </div>
                       {% else %}
                       <div class="col-sm-6 form-group">
                           <label>ID#</label>
                           <input class="form-control" type="text" value = "{%Mcomputer_id%}"readonly/>
                       </div>
                       {% /if %}
                       {% #if editing %}
                       <div class="col-sm-6 form-group">
                           <label for="exampleSelect1">Status</label>
                           <select class="form-control" id="select_status" value = {%Mstatus%} >
                                <option>Unprocessed</option>
                                <option>Being Refurbished</option>
                                <option>Ready for Sale</option>
                                <option>Sold</option>
                                <option>e-waste</option>
                           </select>
                       </div>
                       {% else %}
                       <div class="col-sm-6 form-group">
                           <label for="exampleSelect1">Status</label>
                           <select class="form-control" id="select_status" value = {%Mstatus%} readonly>
                                <option>Unprocessed</option>
                                <option>Being Refurbished</option>
                                <option>Ready for Sale</option>
                                <option>Sold</option>
                                <option>e-waste</option>
                           </select>
                       </div>
                       {% /if %}

                       {% #if editing %}
                       <div class="col-sm-6 form-group">
                            <label>Windows COA</label><br>
                            <small class="text-muted">New COA</small>
                            <input class="form-control" type="text" value = "{%MWindows_COA_new%}" />
                            <small class="text-muted">Old COA (optional)</small>
                            <input class="form-control" type="text" value = "{%MWindows_COA_old%}" />
                       </div>
                       {% else %}
                       <div class="col-sm-6 form-group">
                            <label>Windows COA</label><br>
                            <small class="text-muted">New COA</small>
                            <input class="form-control" type="text" value = "{%MWindows_COA_new%}" readonly/>
                            <small class="text-muted">Old COA (optional)</small>
                            <input class="form-control" type="text" value = "{%MWindows_COA_old%}"readonly/>
                       </div>
                       {% /if %}

                       {% #if editing %}
                        <div class="col-sm-6 form-group">
                            <label>Office COA</label><br>
                            <small class="text-muted">New COA </small>
                            <input class="form-control" type="text" value = "{%MOffice_COA_new%}" />
                            <small class="text-muted">Old COA (optional)</small>
                            <input class="form-control" type="text" value = "{%MOffice_COA_old%}"/>
                        </div>
                       {% else %}
                        <div class="col-sm-6 form-group">
                            <label>Office COA</label><br>
                            <small class="text-muted">New COA </small>
                            <input class="form-control" type="text" value = "{%MOffice_COA_new%}" readonly/>
                            <small class="text-muted">Old COA (optional)</small>
                            <input class="form-control" type="text" value = "{%MOffice_COA_old%}" readonly/>
                        </div>
                        {% /if %}

                        {% #if editing %}
                         <div class="col-sm-6 form-group">
                            <label>OEM Serial</label>
                            <input class="form-control" type="text"value="{% MOEM_SERIAL %}" />
                        </div>
                        {% else %}
                         <div class="col-sm-6 form-group">
                            <label>OEM Serial</label>
                            <input class="form-control" type="text"value="{% MOEM_SERIAL %}" readonly/>
                        </div>
                        {% /if %}

                        {% #if editing %}
                        <div class="col-sm-6 form-group">
                            <label>Hardware Manifest:</label>
                            <input type="file" class="form-control-file" id="ManifestFileUpload">
                            <small class="text-muted">Upload File Here</small>
                        </div>
                        <div class="col-sm-12 form-group">
                            <fieldset class="form-group">
                                <label for="exampleTextarea">Comments</label>
                                <textarea class="form-control" id="exampleTextarea" rows="3" value = {% Mcomments %} ></textarea>
                            </fieldset>
                        </div>

                        {% else %}
                         <div class="col-sm-6 form-group">
                            <label>Hardware Manifest:</label>
                            <a href="{{=URL('download',args = computerFILE)}}" download>
                            <small class="text-muted">Download File Here</small></a>
                        </div>
                        <div class="col-sm-12 form-group">
                            <fieldset class="form-group">
                                <label for="exampleTextarea">Comments</label>
                                <textarea class="form-control" id="exampleTextarea" rows="3" value = {% Mcomments %} readonly></textarea>
                            </fieldset>
                        </div>
                        {% /if %}




                   </form>
                   {% #if editing %}
                   <div class="col-sm-12 form-group">
                             <button class="btn btn-primary" on-click="submitbutton">Submit</button>
                             <button class="btn btn-primary" on-click="cancelbutton">Cancel</button>
                   </div>
                   {% else %}
                   <div class="col-sm-12 form-group">
                             <button class="btn btn-primary" on-click="editbutton">Edit</button>
                   </div>
                   {% /if %}
                </div>
        </div>




</script>




<script>

    $(function(){

        var MAIN = new Ractive({
            el: '#target',
            template: '#template',
            delimiters: ['{%', '%}'],
            tripleDelimiters: ['{%%', '%%}'],
            data: {
                computer_post: {},
                editing: false,
                new_entry: false,
                comp_id:"{{=comp_id}}",
                Mcomputer_id:"",
                Mstatus: "Unprocessed",
                MWindows_COA_new: "",
                MWindows_COA_old:"",
                MOffice_COA_new:"",
                MOffice_COA_old:"",
                MOEM_SERIAL:"",
                MHardware_Manifest:[],
                Mcomments:"",
                loading: true,
            },
  });

        function loadpage_data(){
            MAIN.set('loading',true);
            $.ajax("{{=URL('default', 'load_computers', user_signature=True)}}",
            {
              data: {
                search_by: "INDEX",
                keyword: MAIN.get('comp_id'),
                },
              method: 'POST',
              success: function(data) {
                  MAIN.set('loading',false);
                  MAIN.set('computer_post', data['computer_dict']);
                  console.log(MAIN.get('computer_post'));
                  var dictobject = MAIN.get('computer_post');

                  var emptytest = jQuery.isEmptyObject(dictobject);
                  if( !emptytest ){
                      for (var prop in dictobject) {
                          entry = dictobject[prop];
                          MAIN.set('Mcomputer_id',entry['computer_id']);
                          MAIN.set('Mstatus',entry['status']);
                          MAIN.set('MWindows_COA_new',entry['Windows_COA_new']);
                          MAIN.set('MWindows_COA_old',entry['Windows_COA_old']);
                          MAIN.set('MOffice_COA_new',entry['Office_COA_new']);
                          MAIN.set('MOffice_COA_old',entry['Office_COA_old']);
                          MAIN.set('MOEM_SERIAL',entry['OEM_SERIAL']);
                          MAIN.set('MHardware_Manifest',entry['Hardware_Manifest']);
                          MAIN.set('Mcomments',entry['comments']);
                      }
                  } else{
                      MAIN.set('editing',true);
                      MAIN.set('new_entry',true);
                  }

              },
              error: function() { console.log("LOAD failed"); }
            });
        }



        function update_data(){
            MAIN.set('loading',true);
            $.ajax("{{=URL('default', 'add_or_update_computer', user_signature=True)}}",
            {
              data: {
                  computer_index_id : MAIN.get('comp_id'),
                  computer_id: MAIN.get('Mcomputer_id'),
                  status: MAIN.get('Mstatus'),
                  Windows_COA_new: MAIN.get('MWindows_COA_new'),
                  Windows_COA_old: MAIN.get('MWindows_COA_old'),
                  Office_COA_new: MAIN.get('MOffice_COA_new'),
                  Office_COA_old: MAIN.get('MOffice_COA_old'),
                  OEM_SERIAL: MAIN.get('MOEM_SERIAL'),
                  //Hardware_Manifest: MAIN.get('MHardware_Manifest'),
                  comments: MAIN.get('Mcomments'),
                  last_updated_time: $.now()
                },

              method: 'POST',
              success: function(data) {
                  console.log(data['computer_dict'])
                  MAIN.set('computer_post', data['computer_dict']);
                  console.log(MAIN.get('computer_post'));
                  MAIN.set('loading',false);
                  MAIN.set('new_entry',false);
                  MAIN.set('editing',false);
              },
              error: function() { console.log("UPDATE failed"); }
            });

            var filetoupload = getuploadfile();
            console.log(filetoupload);
            if(filetoupload){
                MAIN.set('loading',true);
                uploadFile(filetoupload);
                //location.reload(true);

                window.location.href = "{{=URL('default','view_computer')}}"+"/"+MAIN.get('comp_id');

            }
        }

        function getuploadfile(){
            var files = document.getElementById('ManifestFileUpload').files;
            console.log(files);
            var returnfile;
            for (var i = 0; i< files.length; i++){
                var file = files[i];
                console.log(file);
                returnfile = file;
            }
            return returnfile;
        }

        function uploadFile(uploadfile){
            var uploadData = new FormData();
            uploadData.append('manifestfile',uploadfile,uploadfile.name);
            uploadData.append('computerid',MAIN.get('comp_id'));
            var xhr = new XMLHttpRequest();
            xhr.open('POST',"{{=URL('default','uploadmanifest')}}",true);
            xhr.send(uploadData);

            xhr.onload = function () {
                if (xhr.status === 200) {
                // File(s) uploaded.
                console.log('You good! Upload Success');
                    MAIN.set('loading',false);
                   // location.reload(true);
                } else {
                alert('An error occurred in the File Upload!');
                }
             };

        }



        //edit_button
        MAIN.on("editbutton", function(e) {
           console.log("Called Edit");
            loadpage_data();
            MAIN.set('editing',true);
        });

        //submit_button
        MAIN.on("submitbutton", function(e) {
           console.log("Called Submit");
            //MAIN.set('MHardware_Manifest',getuploadfile());
            update_data();
        });
        //cancel_button
        MAIN.on("cancelbutton", function(e) {
            console.log("Called Button");
            MAIN.set('editing',false);
            loadpage_data();
        });


        loadpage_data();
        console.log(MAIN.get('comp_id'));




    });

</script>