/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
.datarow:hover {
  background: #5fb9ff;
}

/* line 7, ../sass/_main.scss */
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.08);
}

/* line 11, ../sass/_main.scss */
.table-striped > tbody > tr:nth-of-type(odd):hover {
  background-color: #94b6ff;
}

/* line 15, ../sass/_main.scss */
.navbar {
  background-color: #232323;
  text: white;
}

/* line 20, ../sass/_main.scss */
body {
  background: rgba(230, 233, 239, 0.26);
}

/* line 24, ../sass/_main.scss */
#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: white;
}

/* line 27, ../sass/_main.scss */
#custom-bootstrap-menu.navbar-default {
  font-size: 21px;
  background-color: black;
  border-width: 0px;
  border-radius: 0px;
}

/* line 33, ../sass/_main.scss */
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
  color: white;
  background-color: black;
}

/* line 38, ../sass/_main.scss */
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
  color: #adadad;
  background-color: black;
}

/* line 44, ../sass/_main.scss */
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: black;
}

/* line 48, ../sass/_main.scss */
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #000000;
}

/* line 52, ../sass/_main.scss */
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #000000;
}

/* line 55, ../sass/_main.scss */
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}

/* line 59, ../sass/_main.scss */
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #000000;
}
